/* Box Model Hack */
* {
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
:root {
   --selected: #e77c48;
   --selected-font: black;
   --primary: #333333;
   --secondary: #575757;
   --tertiary: #646464;
   --background: #7e7e7e;

}

.colonial {
   --selected: #e77c48;
   --selected-font: black;
   --primary: #1c3518;
   --secondary: #4c5a3e;
   --tertiary: #879D7B;
   --background: #dae4ce;
}

.warden {
   --selected: #e77c48;
   --selected-font: black;
   --primary: #263e53;
   --secondary: #245582;
   --tertiary: #4c66a8;
   --background: #dbd9d8;
}

html {
   /* font-size: 62.5%; */
   font-size: 20pt;
}

body {
   color: white;
   background: var(--background);
   font-family: 'Didact Gothic', sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/

/* header {

}

footer {

} */

section, fieldset {
   background: var(--primary);
}

legend {
   background: var(--primary);
   width: 100%;
   padding-left: 7px;
}

h1 {
   font-size: 2.775rem;
}

h3 {
   font-size: 1.2rem;
   padding-bottom: .8rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.btn {
   color: white;
   background: var(--secondary);
   text-decoration: none;
   font-size: 1.125rem;
   margin: 3px;
   border: none;
}

.btn-list {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, 1fr);
}

.wrapper {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 10px;
}

.selected {
   color: var(--selected-font);
   background: var(--selected);
}

.hidden {
   display: none;
}

input {
   color: var(--selected-font);
   background: var(--tertiary);
   font-size: .9rem;
}

input[type="text"] {
   text-align: center;
   border: none;
}

label {
   font-size: .975rem;
}

.btn input {
   color: white;
   background: var(--selected);
   border-style: none;
}

.rename {
   background: var(--selected);
}

.no-highlight {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge*/
   user-select: none;          /* Non-prefixed version, currently
                                  not supported by any browser */
}