.neutral {
   --selected: #e77c48;
   --selected-font: black;
   --primary: #333333;
   --secondary: #575757;
   --tertiary: #646464;
   --background: #7e7e7e;
}

.colonial {
   --selected: #e77c48;
   --selected-font: black;
   --primary: #1c3518;
   --secondary: #4c5a3e;
   --tertiary: #879D7B;
   --background: #dae4ce;
}

.warden {
   --selected: #e77c48;
   --selected-font: black;
   --primary: #263e53;
   --secondary: #245582;
   --tertiary: #4c66a8;
   --background: #dbd9d8;
}

html {
   font-size: 62.5%;
}

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   background: var(--background);
   color: white;
}

main {
   flex: 1 0 auto;
}

header, footer, section, .card{
   background: var(--primary) !important;
   margin: 0;
}

footer a {
   color: white;
   text-decoration: none;
}

input {
   color: white !important;
   background: var(--tertiary) !important;
}

input[type="text"] {
   margin: 0 !important;
   border: none !important;
   background: var(--selected) !important;
   border-radius: 2px !important;
   min-height: 3.6rem;
   text-align: center;
   text-transform: uppercase;
   font-size: 1.4rem !important;
}

select {
   display: inline;
   color: white;
   background: var(--tertiary);
}

.selected {
   color: var(--selected-font) !important;
   background-color: var(--selected) !important;
}

.confirm {
   min-width: 10rem !important;
}

.rename {
   background: var(--selected);
}

.hamburger:focus {
   background-color: transparent !important;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
   background: white;
}

.btn-list {
   display: grid;
   grid-template-rows: repeat(2, 3.6rem);
   grid-template-columns: repeat(3, minmax(0, 1fr));
   gap: 0.6rem;
   margin-bottom: 1.1rem;
}

.btn-flat {
   color: white;
   background: var(--secondary);
}

.btn-flat:focus {
   background: var(--secondary);
}

.display {
   display: grid;
   grid-template-rows: repeat(2, minmax(0, 1fr)) auto;
   grid-template-columns: repeat(2, minmax(0, 1fr));
   gap: 1rem;
   padding: 5vh 0;
}

.card-title {
   font-weight: 500 !important;
}

#target {
   order: -1;
}

#utils {
   grid-column-start: 2;
}

#result .row span, label {
   color: white;
   font-size: 1.4rem;
}

#result h1 {
   font-size: 6rem;
   margin: 0.5rem;
   padding-left: 5rem;
}

#titleBar h1 {
   display: inline;
}

#slide-out {
   background: var(--primary);
}

@media screen and (max-width: 900px) {
   .btn-list {
      grid-template-columns: repeat(2, minmax(0, 1fr));
   }
}

@media screen and (max-width: 600px) {

   .btn-list > input:nth-last-child(-n + 4) {
      display: none;
   }

   .display {
      display: flex;
      flex-flow: column nowrap;
      padding: 2rem 0;
   }

   #target {
      order: 0;
   }

   #utils {
      grid-column-start: unset;
   }

   #result h1 {
      padding-left: 0;
   }
}